/* .scroll4::-webkit-scrollbar {
  width: 10px;
}

.scroll4::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.scroll4::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
} */
/* .scroll {
  width: 20px;
  height: 200px;
  overflow: auto;
  float: left;
  margin: 0 10px;
} */

.scroll2::-webkit-scrollbar {
  width: 5px;
}

.scroll2::-webkit-scrollbar-thumb {
  background: #666;
}
